@{
    ViewData["Title"] = "Create Order";
    string JWTToken = Context.Session.GetString("JWToken");
    string USERID = Context.Session.GetString("USERID");
    var currentDate = DateTime.Now;
    var currentDateString = currentDate.ToString("yyyy-MM-ddTHH:mm");
}

<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
        <h2>
            Create new order

        </h2>
        <a href="/Order" class="btn btn-dark">Back</a>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <div>
                <h5>Add Products:</h5>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Product" class="control-label mb-1">Name</label>
                            <select id="Product" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Quantity" class="control-label mb-1">Quantity</label>
                            <input id="Quantity" value="1" min="1" type="number" class="form-control" />
                            <span id="Quantity-error" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Price" class="control-label mb-1">Price</label>
                            <input id="Price" value="1" min="1" type="number" class="form-control" />
                            <span id="Price-error" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input id="AddToOrderBtn" type="submit" value="Add to order"
                                   class="btn btn-warning d-block" />
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <h5>Order details: <span class="text-danger">*</span></h5>
                <div id="OrderDetail-error" class="text-danger mb-3"></div>
                <table class="table table-sm table-hover table-bordered">
                    <thead class="table-success">
                        <tr>
                            <th>Name</th>
                            <th>Unit price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="OrderDetails">
                        <tr>
                            <td colspan='5'>No data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-2">
                <label for="OrderDate" class="control-label mb-1">OrderDate <span class="text-danger">*</span></label>
                <input id="OrderDate" class="form-control" value="@currentDateString"/>
                <span id="OrderDate-error" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="AddButton" class="btn btn-primary w-100">Create Order</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            const listItems = [];
            getAllProduct();

            const formatter = new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND',
            });

            function getAllProduct() {
                $.ajax({
                    url: "http://localhost:5267/api/Products",
                    type: "GET",
                    success: function (result, status, xhr) {
                        $.each(result, function (key, item) {
                            console.log(item);
                            $("#Product").append("<option value='" + item["productId"] + "'>" + item["productName"] + "</option>");
                        
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                })
            }

            // handle add to listItems
            $("#AddToOrderBtn").click(function () {
                const productID = $("#Product").val();
                const quantity = $("#Quantity").val();
                const price = $("#Price").val();
                if (!productID) {
                    console.log("Product ID is undefined or null");
                    return;
                }
                if (parseInt(quantity) < 1) {
                    $("#Quantity-error").html("Quantity must be greater than 0");
                    return;
                }

                $.ajax({
                    url: "http://localhost:5267/api/Products/" + productID,
                    type: "GET",
                    success: function (result, status, xhr) {
                        const previousItem = listItems.find(x => x["productID"] == productID);
                        if (previousItem) {
                            if (parseInt(previousItem["quantity"]) + parseInt(quantity) > result["unitsInStock"]) {
                                $("#Quantity-error").html("Quantity must be less than or equal to units in stock");
                                return;
                            }
                            previousItem["quantity"] = parseInt(previousItem["quantity"]) + parseInt(quantity);
                        } else {
                            const item = {
                                "productID": productID,
                                "productName": result["productName"],
                                "unitPrice": price,
                                "quantity": quantity
                            }
                            listItems.push(item);
                        }
                        renderListItems();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                })
            });

            function renderListItems() {
                $("#OrderDetails").empty();
                if (listItems.length == 0) {
                    $("#OrderDetails").append("<tr><td colspan='5'>No data</td></tr>");
                    return;
                }
                $.each(listItems, function (key, item) {
                    $("#OrderDetails").append("<tr>" +
                        "<td>" + item["productName"] + "</td>" +
                        "<td>" + formatter.format(item["unitPrice"]) + "</td>" +
                        "<td>" + item["quantity"] + "</td>" +
                        "<td>" + formatter.format(item["unitPrice"] * item["quantity"]) + "</td>" +
                        "<td><button class='btn btn-danger' onclick='deleteItem(" + item["productID"] + ")'>Delete</button></td>" +
                        "</tr>");
                })
            }

            // handle delete item
            window.deleteItem = function (productID) {
                const index = listItems.findIndex(x => x["productID"] == productID);
                listItems.splice(index, 1);
                renderListItems();
            }

            const validationOrder = () => {
                let isValid = true;
                if (listItems.length == 0) {
                    $("#OrderDetail-error").html("Please add at least one item to order");
                    isValid = false;
                } else {
                    $("#OrderDetail-error").html("");
                }
               
                return isValid;
            }

            $("#AddButton").click(function () {
                if (!validationOrder()) {
                    return;
                }

                let amount = 0;
                const orderDetails = listItems.map(item => {
                    amount += item["unitPrice"] * item["quantity"];
                    return {
                        "productID": item["productID"],
                        "quantity": item["quantity"],
                        "unitPrice": item["unitPrice"]
                    }
                })
              
                const orderDate = $("#OrderDate").val();

                const formattedOrderDate = formatDate(orderDate);
                $.ajax({
                    url: "http://localhost:5267/api/Orders",
                    type: "POST",
                    data: JSON.stringify({
                        orderDate: formattedOrderDate,
                        staffId: 1,
                        orderDetails: orderDetails
                    }),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + "@JWTToken");
                    },
                    success: function (result, status, xhr) {
                        alert("Create new order successfully");
                        // Redirect to home
                        window.location.href = "/MyOrder";
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                        alert("Create failed! Refresh page and try again.");
                    }
                })
            })
            function formatDate(inputDate) {
                const parts = inputDate.split('/');
                const formattedDate = `${parts[2]}-${parts[1]}-${parts[0]}`;
                return formattedDate;
            }
        })
    </script>
}
